.start-button {
    display: inline-block;
    background-color: #d6b98c;
    color: #4b3828;
    padding: 15px 35px;
    font-size: 17px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.start-button:hover {
    background-color: #c5a575;
}
